.change-password-page {


    min-height: calc(100vh - 70px);


    background: #f5f7fc;


    display: flex;


    justify-content: center;


    align-items: center;



}



.change-password-card {


    width: 420px;


    background: white;


    padding: 35px;


    border-radius: 12px;


    border: 1px solid #e5e7eb;


    box-shadow:
        0 5px 20px rgba(0, 0, 0, .08);



}



.change-password-card h2 {


    text-align: center;


    color: #183b72;


    margin-bottom: 30px;


}



.form-group {


    display: flex;


    flex-direction: column;


    gap: 8px;


    margin-bottom: 20px;


}



.form-group label {


    font-size: 14px;


    font-weight: 600;


    color: #374151;


}



.form-group input {


    height: 45px;


    border: 1px solid #d1d5db;


    border-radius: 8px;


    padding: 0 14px;


    font-size: 15px;


}



.change-btn {


    width: 100%;


    height: 45px;


    border: none;


    border-radius: 8px;


    background: #183b72;


    color: white;


    font-size: 15px;


    font-weight: 600;


    cursor: pointer;



}



.change-btn:hover {


    opacity: .9;


}